.bg{
    /* Fixe l'image en haut à gauche de la page */
    position: absolute; 
    top: 1; 
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    background-image: url(../img/background.png);
}